{% extends 'basic.html' %}
{% block title %}All Bookings
{% endblock title %}
{% block body %}
<h3 class="text-center"  style = "color:#0071c2; font-weight: 500!important; text-align: center; margin: 2%;">Все арендаторы </h3>
<table class="table">
    <thead>
        <th>ФИО</th>
        <th>Комната</th>
        <th>Этаж</th>
        
    </thead>
    {% for each_booking in bookings %}
    <tr>
        <td>{{each_booking.guest.username}}</td>
        <td>{{each_booking.room.roomnumber}}</td>
        <td>{{each_booking.room.floor}}</td>
    </tr>
    {% endfor %}


</table>
{% endblock body %}