 {% extends 'basic.html' %} {% block title %}View Room {% endblock title %} {% block body %}
<h3  style = "color:#0071c2; font-weight: 500!important; text-align: center; margin: 2%;" > Детали</h3>
<hr>
<div class="container mx-0 ">
    <p><b>Номер комнаты :</b> {{room.roomnumber}}</p>
    <p><b>Этаж :</b> {{room.floor}}</p>
    <p><b>Тип комнаты :</b> {{room.get_room_type_display}}</p>
    <p><b>Статус :</b> {{room.get_status_display| capfirst}} </p>
    <p><b>Вместимость :</b> {{room.capacity| capfirst}} </p>

</div>


<hr> {% if reservations %}
<h3  style = "color:#0071c2; font-weight: 500!important; text-align: center; margin: 2%;" >Арендующие</h3>
<table class="table">
    <thead>
        <th>ФИО</th>
    </thead>
    {% for each_detail in reservations %}
    <tr>
        <td>{{each_detail.guest.username}}</td>
    </tr>
    {% endfor %}
    <tr>
        <td><b>Кол-во арендующих = </b>{{reservations | length}}</td>
    </tr>

</table>
{% else %}
<p>No details found</p>
{% endif %} {% endblock body %}