    {% extends 'basic.html' %}
    {% block title %}
    {% endblock title %}
    {% block body %}
    
    <section>
        <div class="container-fluid py-5 px-5 ">
            <form action="all-rooms" >
                <button type="submit" class="btn btn-primary" style="  margin: 0 auto;
                display: block;">Записаться</button>
             

            </form>
            
        </div>
    </section>

    <div class="container-fluid px-0 mx-aut">
        {% if rooms %}
           <table class="table">
               <thead class="o">
                <th>Тип комнаты</th>
                <th>Местоположение</th>
                <th>Цена</th>
                <th>Действие</th>
            </thead>
            {% for r in rooms %}
                <tr class="">
                <td>{{ r.get_room_type_display }}</td>
                <td>{{ r.hotel.location }}</td>
                <td>{{ r.price }}</td>
                
                <td><a href="/user/book-room?roomid={{r.id}}"> <button class="btn btn-group bg-light font-weight-bold" style = "color:#0071c2; font-weight: 500!important" >Арендовать сейчас</button></a></td>
                </tr>
            {% endfor %}
            
           </table> 
        {% endif %}
    </div>


    <h3 class="text-center text-dark">Типы комнат</h3>

    <div class="container-fluid px-0" style="border:1px solid #0071c2">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Информация</th>
                    <th class="text-center">Фото</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">
                        <h1>Budget</h1>
                        <p>Цена: уточняется при оформлении</p>

                        <p>Размер: 20 кв. м</p>

                        <p>Сервисы: Wifi,Tv</p>

                    </td>
                    <td class="text-center">
                        <img src="https://tengrinews.kz/userdata/news/2019/news_367176/thumb_m/photo_277747.jpg" alt="" class="img-fluid pt-4" width="300px;
                    }">
                    </td>

                </tr>
                <tr>
                    <td class="text-center">
                        <h1>Premium</h1>
                        <p>Цена: уточняется при оформлении</p>

                        <p>Размер: 40 кв. м</p>

                        <p>Сервисы: Wifi,Tv, Ванная</p>
                    </td>
                    <td class="text-center">
                        <img src="https://www.inform.kz/radmin/news/2021/09/13/210913164836767e.jpg"
                            alt="" class="img-fluid pt-4" width="300px;"
                            >
                    </td>

                </tr>
                <tr>
                    <td class="text-center">
                        <h1>Deluxe</h1>
                        <p>Цена: уточняется при оформлении</p>

                        <p>Размер: 30 кв. м</p>

                        <p>Сервисы: Wifi,Tv, Ванная, Балкон</p>
                    </td>
                    <td class="text-center">
                        <img src="https://static.dw.com/image/19112021_303.jpg"
                            alt="" class="img-fluid pt-4" width="300px;">
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

    
    {% endblock body %}
   
   