{% extends 'basic.html' %} {% block title %}Book Room {% endblock title %} {% block body %}
<div class="container">

    <div class="row">
        <div class="col-md-6 col-lg-6 col-xlg-6 col-sm-12 mx-auto my-4 ">

            <form action="/user/book-room/book" method="POST">
                {%csrf_token%}
                {%load app_tags%}
               
                <div class="form-group">
 
                    
                    <label for="person">ФИО:</label>
                    <input type="text" class="form-control " id="username" name="username" required="true" disabled value={{request.user}}>
                    
                </div>

                <div class="form-group">
                    
                    <label for="username">Тип комнаты:</label>
                    <input type="text" class="form-control " id="roomtype" name="roomtype" disabled value={{room.get_room_type_display}}>

                    <label for="username" style="margin-top: 2%;">Этаж:</label>
                    <input type="text"   class="form-control " id="roomtype" name="roomtype" disabled value={{room.floor}}>

                    <label for="username" style="margin-top: 2%;">Этаж:</label>
                    <input type="text"   class="form-control " id="roomtype" name="roomtype" disabled value={{room.roomnumber}}>
                <button type="submit" style = 'margin-top: 2%;' class="btn btn-primary">Записаться</button>
                <input type="hidden" name="room_id" value={{room.id}}>

            </form>
        </div>
    </div>
</div>
{% endblock body %}