{% extends 'basic.html' %} {% block title %}Dashboard {% endblock title %} {% block body %}
{% load app_tags %}
<h3 class="text-center  " style="color:#003580 ; margin-top: 2%; margin-bottom: 2%;">Мои комнаты </h3>
<table class="table">
    <thead>
        <th>ФИО</th>
        <th>Комната</th>
        <th>Этаж</th>

    </thead>
    {% for each_booking in bookings %}
    <tr>
        <td>{{each_booking.guest.username}}</td>
        <td>{{each_booking.room.roomnumber}}</td>
        <td>{{each_booking.room.floor}}</td>

    </tr>
    {% endfor %}


</table>
{% endblock body %}